<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addproperty.css">
    <link rel="stylesheet" href="/src/public/css/register.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Add Property</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="https://img.icons8.com/external-becris-solid-becris/64/000000/external-travel-coronavirus-becris-solid-becris.png" alt="logo"/>            
                <h1>ReadyTo</h1>
            </div>
            <div class="login">
                <img src="https://img.icons8.com/fluency-systems-regular/96/000000/user.png" width="30px" height="30px"/>
            </div>
        </nav>
      </header>
      <section class="register flex-center">
          <h1>Registra una nueva propiedad</h1>
          <form action="/src/views/addproperty.ejs" method="POST" class="flex-center">
          <div class="field">
              <p>Nombre</p>
              <input type="text" name="name">
          </div>
          <div class="field">
            <p>Tipo de propiedad</p>
            <input type="text" name="property_type">
        </div>
        <div class="field">
            <p>Tipo de cuarto</p>
            <input type="text" name="room_type">
        </div>
        <div class="field">
            <p>Número de cuartos</p>
            <input type="number" name="bedrooms">
        </div>
        <div class="field">
            <p>Número de camas</p>
            <input type="number" name="beds">
        </div>
        <div class="field">
            <p>Número de baños</p>
            <input type="number" name="bathrooms">
        </div>
        <div class="field">
            <p>Precio</p>
            <input type="number" name="price">
        </div>
        <div class="field">
            <p>URL de la imagen</p>
            <input type="text" name="images.picture_url">
        </div>
          <button class="btn">Guarda la propiedad</button>
        </form>
          <div class="terms flex-center">
              <p>Al crear una propiedad, aceptas nuestros Términos y 
                  condiciones y la Política de privacidad
              </p>
          </div>
          <div class="readyto flex-center">
             <p>Todos los derechos reservados</p>
              <p>ReadyTo.com 2021</p>
          </div>
      </section>
      <% errors.forEach(function(row){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Aviso</strong> 
            <%= row.text %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <% }) %>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>