<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/src/public/css/main.css">
    <title>ReadyTo</title>
</head>
<body>
  <header class="header">
    <nav class="navbar">
        <div class="logo">
            <img src="https://img.icons8.com/external-becris-solid-becris/64/000000/external-travel-coronavirus-becris-solid-becris.png" alt="logo"/>            
            <h1>ReadyTo</h1>
        </div>
        <div id="search" class="flex-center">
        <div class="search">
            <input class="input" type="text">
            <button class="btn" id="search-btn"></button>
        </div>
        </div>
        <div id="login">
        <div class="login">
            <div class="dropdown">
                <button class="link">
                    <img src="https://img.icons8.com/material-outlined/96/000000/menu--v1.png"/>
                </button>
                <div class="dropdown-menu">
                    <a href="/src/views/register.html">Registrarse</a>
                    <a href="/src/views/login.html">Iniciar Sesión</a>
                </div>
            </div>
            <img src="https://img.icons8.com/fluency-systems-regular/96/000000/user.png" width="30px" height="30px"/>
        </div>
        </div>
    </nav>
    <section class="explore flex-center">
        <h1>Descubre lugares nuevos a los cuales viajar</h1>
        <div class="btn-explore flex-center">
            <a href="/src/views/properties.ejs" class="flex-center"> Explora</a>
        </div>
    </section>
  </header>
  <section id="properties">
    <h1>Vive en cualquier lugar del mundo</h1>
    <div class="properties">
    <figure class="card">
        <img src="/img/house.jpg" alt="Houses">
        <p>Casas</p>
    </figure>
    <figure class="card">
        <img src="/img/apartment.jpg" alt="Apartment">
        <p>Departamentos</p>
    </figure>
    <figure class="card">
        <img src="/img/private-room.jpg" alt="Private Rooms">
        <p>Cuarto privado</p>
    </figure>
    <figure class="card">
        <img src="/img/unique-stay.jpg" alt="Unique Stays">
        <p>Estancias Únicas</p>
    </figure>
</div>
</section>
  <footer class="footer">
    <p>Made by Alejandro Estrada in 2021</p>
  </footer>
</body>
</html>