<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/src/public/css/register.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="https://img.icons8.com/external-becris-solid-becris/64/000000/external-travel-coronavirus-becris-solid-becris.png" alt="logo"/>            
                <h1>ReadyTo</h1>
            </div>
            <div class="login">
                <img src="https://img.icons8.com/fluency-systems-regular/96/000000/user.png" width="30px" height="30px"/>
            </div>
        </nav>
      </header>
      <section class="register flex-center">
          <h1>Sesión iniciada</h1>
          <div class="terms flex-center">
              <p>Al iniciar sesión o al crear una cuenta, aceptas nuestros Términos y 
                  condiciones y la Política de privacidad
              </p>
          </div>
          <div class="readyto flex-center">
             <p>Todos los derechos reservados</p>
              <p>ReadyTo.com 2021</p>
          </div>
      </section>
</body>
</html>